@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:            #cecece;
$header-color:          #141b25;
$background-color:      #232323;
$background-color-dark: #03121f;
$brand-color:           #f8c881;
$brand-color-hover:     #ee8812;

$grey-color:            #dddddd;
$grey-color-dark: darken($grey-color, 25%);
$grey-color-darker:  darken($grey-color, 60%);

$border-radius: 5px;
$table-text-align: left;

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        900px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "jpdark/base",
  "jpdark/layout",
  "jpdark/syntax-highlighting"
;
