---
layout: default
---

<div class="blog-navi">
  {%- if page.heading -%}
    <h1 class="post-title">{{ page.heading }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2>Sort by <a href="{{ "/blog" | relative_url }}">Latest</a></h2>

    <ul class="post-list">
      {%- for category_pair in site.best_categories -%}
          {%- assign category = category_pair["category"] -%}
          {%- assign category_name = category_pair["name"] -%}

          {%- if site.categories[category].size > 0 -%}
            <h2>{{ category_name }}</h2>

            {%- for post in site.categories[category] -%}
              <li>
                {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>

                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h3>

                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}

              </li>
            {%- endfor -%}

          {%- endif -%}
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</div>
